[submodule "_plugins"]
	path = _plugins
	url = https://github.com/mpalmer/jekyll-static-comments.git
[submodule "_includes"]
	path = _includes
	url = https://github.com/pathawks/Jekyll-Comments-Template.git
